body {
  font-family: 'Verdana';
  background-color: #cdedf6;
  color: #042a2b;
}

a {
  text-decoration: none;
  color: #042a2b;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #5eb1bf;
  padding: 2%;
  border-radius: 25%;
}

/* .my-name {
  justify-self: flex-start;
} */

.navbar-links {
  align-self: center;
}
